html {
    background-image: -webkit-linear-gradient(top, #000000 0%, #333333 100%);
}

head {
    
}

body {
    margin: 0 auto;
    padding: 2em;
    max-width: 80%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #dddddd;
    background-color: #222222;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    background: gradient (45deg, black, green);
}

table {
    table-layout:100%;
    border:1px #dfdfdf;
    width:90%;
    text-align:left;
    color:#dddddd;
    padding:100;
    text-decoration-color:white;
    border-color:"#ffffff";
    background-color:"#ffffff";
    border:"10";
    padding-top:50;
    line-height:2.5
    
    
/*        <table width="100%" height="50" align="center" cellpadding="1" cellspacing="1" border="1" bgcolor="#000000" bordercolor="#dfdfdf">*/        
}

        
footer {
    align-content:center
}



h1 {
    font-size:72;
    text-align:center;
    
    
}

img
{
    background: #181818;
    border: 5px solid black;
    border-radius: 2px;
    padding: 15px 10px 10px;
    margin: 10px 0;
    max-width: 95%;
}
